<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header class="header_adm">
        <div class="logo">
            <img src="{% static 'img/logo171x177-removebg-preview.png' %}" alt="Logo de la marca">
        </div>        
        <nav>
            <ul class="nav-links">
                <li><a href="#">KlandeztinoGourmet Administrador</a></li>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="#"> 
                        {% if  user.is_authenticated %}
                            Bienvenido: {{user.username}}                      
                        {% else %}
                            <a href="{% url 'login' %}">Log In</a>  
                        {% endif %}        
                    </a></li>
                <li><a href="{% url 'logout'%}">Cerrar Sesión</a></li>    
            </ul>
        </nav>
    </header>
    <br>
    <div>
        <h1>LISTA DE PRODUCTOS</h1>
    </div>
    <br>          
    <br>
    <div>
        <h3>FILTRO DE PRODUCTOS</h3>
    </div>
    <div>
        <form method="GET" action="">
            <div class="form-row">
                <div class="form-group col-12">
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="search" name="filtro" placeholder="Nombre Producto...">
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <button class="btn btn-secondary">buscar</button>
                            </div>
                        </span>
                    </div>
                </div>        
            </div>
       </form>
    </div>                      
    <br>
    <div>
        {% if user.username == 'admin' %}
            <table class="table table-striped">
                {% if producto %}            
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                    {% for tmp in producto %}
                        <tr>                    
                            <td>{{tmp.nombre_producto}}</td>
                            <td><h3>${{tmp.precio_producto}}</h3></td>
                            <td>{{tmp.id_tipo_producto}}</td>
                            
                            {% if user.username != 'cliente1' %}
                                <td><a href="{% url 'productos_findEdit' pk=tmp.id_producto %}">Modificar</a></td>                       
                            {% endif %}
                            
                            {% if user.username == 'admin' %}
                                <td><a href="{% url 'productos_del' pk=tmp.id_producto %}">Eliminar</a></td>                        
                            {% endif %}

                        </tr>
                    {% endfor %}  
                {% endif %}      
            </table>
        {% elif user.username == 'cr.alvarez' %}
            <table class="table table-striped">
                {% if producto %}            
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Modificar</th>
                    
                    {% for tmp in producto %}
                        <tr>                    
                            <td>{{tmp.nombre_producto}}</td>
                            <td><h3>${{tmp.precio_producto}}</h3></td>
                            <td>{{tmp.id_tipo_producto}}</td>                            
                            {% if user.username != 'cliente1' %}
                                <td><a href="{% url 'productos_findEdit' pk=tmp.id_producto %}">Modificar</a></td>                       
                            {% endif %}                                                    
                        </tr>
                    {% endfor %}  
                {% endif %}      
            </table>
        {% elif user.username == 'cla.jelvez' %}
            <table class="table table-striped">
                {% if producto %}            
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Modificar</th>
                    
                    {% for tmp in producto %}
                        <tr>                    
                            <td>{{tmp.nombre_producto}}</td>
                            <td><h3>${{tmp.precio_producto}}</h3></td>
                            <td>{{tmp.id_tipo_producto}}</td>                            
                            {% if user.username != 'cliente1' %}
                                <td><a href="{% url 'productos_findEdit' pk=tmp.id_producto %}">Modificar</a></td>                       
                            {% endif %}                                                    
                        </tr>
                    {% endfor %}  
                {% endif %}      
            </table>    
        {% endif %}    
    </div>    
    <br> 
    <div>
        {% if user.username != 'cliente1' %}   
            <button type="button" >
                <a href="{% url 'agregar_producto' %}" class="btn btn-secondary" role="button">Agregar Producto</a>
                </button>
        {% endif %}    
    </div>
    <br>    
    <footer class="pie_pagina_adm">
        <div class="grupo_footer">
            <small>&copy; 2023 <b>KladenztinoGourmet</b> - Todos los Derechos Reservados.</small>
        </div>        
    </footer>
</body>
</html>